.btn-primary {
  display: inline-block;
  background: var(--blue-cta);
  color: var(--text-light);
  padding: 16px 32px;
  border-radius: var(--radius);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background: var(--blue-main);
}
