body {
  font-family: 'Arial', sans-serif;
  color: var(--text-dark);
  background-color: #fff;
  line-height: 1.6;
}

section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

h1, h2 {
  color: var(--blue-dark);
  margin-bottom: 20px;
}
